.hover_product:hover{
    /* border: 1px solid black; */
    
    box-shadow: 0 0 10px rgb(69, 199, 21);
    transform: translate(1px, -1px);
}

.hover_product:hover .hover_priceproduct {
    color: red;
}